NODE_ENV=development


#Sequelize's database system access data (for this project, i use postgreSQL.).

HOST=
DATABASE_DIALECT=
DATABASE_NAME=
DATABASE_USER=
DATABASE_PASS=


#MongoDB uri

MONGO_URI=


#Set your SMTP provider acess data here (for testing, mailtrap is recommended.).

MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASS=

AUTH_KEY=